#home-container {
  display: flex;
  background-color: #f0f2f5; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey; }
  #home-container textarea {
    border: 1px solid lightgrey;
    padding: 7px;
    padding-bottom: 15px;
    font-size: large;
    margin: 15px;
    font-weight: 400; }
  #home-container #btn {
    border-radius: 4px;
    font-size: 17px;
    margin: 5px;
    padding: 6px 28px;
    background-color: #da6f0b;
    box-shadow: 1px grey;
    border: none;
    color: white;
    font-weight: 600; }

#posts-list-container {
  padding: 5px; }
  #posts-list-container img {
    border-radius: 100%;
    width: 40px; }
  #posts-list-container p {
    font-size: 20px;
    font-weight: 600; }
  #posts-list-container i {
    color: red; }
  #posts-list-container li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    background-color: white; }

#comm {
  background-color: #ecf0fa;
  color: black;
  padding: 4px; }

#name {
  border-bottom: 0.5px solid lightgrey;
  padding: 5px; }

.bold {
  font-size: 21px;
  font-weight: 600px; }

.post-comments input {
  border: none;
  box-shadow: 3px  lightgrey;
  padding: 12px;
  font-size: 15px;
  margin: 2px;
  padding-right: 40px;
  border-radius: 5%;
  background-color: #e3e5e8; }

.post-comments input:hover {
  background-color: #bec1c7; }

.post-comments button {
  border: none;
  background-color: #584e4e;
  border-radius: 10%;
  font-size: 18px;
  padding: 8px;
  margin: 6px; }

.post-comments button:hover {
  background-color: #3a2626; }
